<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJS</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <h1>Home Page</h1>
    <a href="/about">About</a>
    <h2>
        <%= text%>
    </h2>
    <img src="images/nobita.jpg" alt="nobita" >
</body>
</html>